certifi
chardet
click
colorama
comtypes
dataclasses
filelock
huggingface-hub
idna
importlib-metadata
joblib
numpy
packaging
PyAudio
pyparsing
pypiwin32
pyttsx3
pywin32
regex
requests
sacremoses
six
SpeechRecognition
tokenizers
torch
tqdm
transformers
typing-extensions
urllib3
wincertstore
zipp
